%body
  .main
    .container
      .new_resistration
        会員情報入力
      .contentsbox
        = form_for(@user, url: jp_signup_registration_path) do |f|
          = render "devise/shared/error_messages", resource: @user
          .field
            = f.label "ニックネーム"
            %span.required 必須
            %br/
            = f.text_field :nickname , autofocus: true, autocomplete: "nickname", placeholder: "例)メルカリ太郎"
          .field
            = f.label "メールアドレス"
            %span.required 必須
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
          .field
            = f.label "パスワード"
            %span.required 必須
            %br/
            = f.password_field :password,autofocus: true,autocomplete: "new-password", placeholder: "7文字以上の半角英数字"
            %br/
            - if false
              .field
                = f.label :password_confirmation
                %br/
                = f.password_field :password_confirmation, autocomplete: "new-password"
          %div
            %h3
              ※英字と数字の両方を含めて設定してください
          %div
            %h1
              本人確認
          %br/
          %div
            %h2
              安心・安全にご協力いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          %br
          %br
          %br
          .field
            = f.label "お名前(全角)"
            %span.required 必須
            %br/
            = f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "例)山田"
            = f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "例) 彩"
          .field
            = f.label "お名前カナ(全角)"
            %span.required 必須
            %br/
            = f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "例)ヤマダ"
            = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "例)アヤ"
          .field
            = f.label "生年月日"
            %span.required 必須
            %br/
            .birthday_select_wrap
              != sprintf(f.date_select(:birth_date, with_css_classes:'ymd', prompt:"--", use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
          %br
          %div
            %h3
              ※本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          %br
          %br
          %div
            %h2
              「次へ進む」のボタンを押すことにより、
              %br
              = link_to "利用規約"
              に同意したものとみなします。
          %br
          %br
          .actions
            = f.submit "次へ進む"
          %br
          %br
          #help
            = link_to "本人情報の登録について＞"
