<p>電話番号の確認</p>

<%= form_for(@profile, url: jp_signup_sms_confirmation_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: @profile %>

  <div class="field">
    <%= f.label "携帯電話の番号" %><br />
    <%= f.telephone_field :tell_number, autofocus: true, placeholder: "携帯電話の番号を入力" %>
  </div>
  <%= "本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。"%>
  <div class="actions">
    <%= f.submit "SMSを送信する" %>
  </div>
  <%= "※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。"%><br />
  <%= link_to "電話番号の確認が必要な理由＞"%>
<% end %>