<h2>カード</h2>

<%= form_for(@credit, url: home_signup_credit_card_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: @credit %>

  <div class="field">
    <%= f.label "カード番号" %><br />
    <%= f.text_field :card_id, autofocus: true, placeholder: "半角数字のみ" %>
  </div>

  <div class="field">
    <%= f.label "有効期限" %><br />
    <%= f.text_field :limit_month %>
    <%= "月"%>
    <%= f.text_field :limit_year %>
    <%= "年"%>
  </div>

  <div class="field">
    <%= f.label "セキュリティーコード" %><br />
    <%= f.text_field :security_code, autofocus: true, placeholder: "カード背面4桁もしくは3桁の番号" %>
  </div>
  <%= "カード裏面の番号とは？" %>
  <div class="actions">
    <%= f.submit "次へ進む" %>
  </div>
<% end %>