- content_for(:html_title) { '支払い方法 '} 


.credit-container
  .credit-head
    %h1
      支払い方法
  .credit-inner
    .inner-content
      %h2 クレジットカード一覧
      - if @credit.present? 
        %ul
          %li
          = form_with url: card_path(@card.id), method: :delete, local: true, id: 'charge-form' do |f|
            %figure
              = image_tag "https://card-professor.jp/wp/wp-content/uploads/2019/09/mark-e.jpg", width: '26', height: '20'

      - else
        .create-newcard
          .create-newcard__button
            = icon('far', 'credit-card', class: "create-newcard__button--icon")
            = link_to "クレジットカードを追加する", "jp/mypage/card/create", class: "create-newcard__button--text"
    .information
      .information__button
        = link_to "支払い方法について", "https://www.mercari.com/jp/help_center/category/6/", class: "information__button--text"
        = icon('fas', 'chevron-right', class: "information__button--icon")