.main
  .container
    .contentsbox
      %div
        %h4
          アカウントをお持ちでない方はこちら
      %br
      =link_to '/jp/signup/registration/', class: "contents__btn contents__btn--registration" do
        = icon('far', 'envelope', class: "contents__btn--icon")
        新規会員登録
    .contentsbox
      =link_to user_facebook_omniauth_authorize_path  , class: "contents__btn contents__btn--facebook", method: :post do
        =icon('fab', 'facebook-square', class: "contents__btn--icon")
        Facebookでログインする
      =link_to "/" , class: "contents__btn contents__btn--google", method: :post do
        =icon('fab', 'google',class: "contents__btn--icon--google" )
        Googleでログインする
      %br
      %br
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス"
        .field
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード"
        .actions
          = f.submit "ログイン"
      %br
      %br
      #help
        = link_to "パスワードをお忘れの方"
