.goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
  %div
    %div
      - if item.pictures.present?
        = image_tag "#{item.pictures[0]}", class:'first-child', height: '180px;' , width:' 180px;' 
      - else
        = image_tag "", class:'first-child'
      =link_to "", items_path(item.id), method: :get
      %span
        ¥
        = item.price
    %div
      = item.name