.best-category__wrap
  .best-category__title
    レディース新着アイテム
  .best-category__more
    = link_to "" do
      もっとみる
.best-category__contents
  = render 'women'

.best-category__wrap
  .best-category__title
    メンズ新着アイテム
  .best-category__more
    = link_to "" do
      もっとみる
.best-category__contents
  = render 'mens'

.best-category__wrap
  .best-category__title
    家電・スマホ・カメラ新着アイテム
  .best-category__more
    = link_to "" do
      もっとみる
.best-category__contents
  = render 'electric-items'

.best-category__wrap
  .best-category__title
    おもちゃ・ホビー・グッズ新着アイテム
  .best-category__more
    = link_to "" do
      もっとみる
.best-category__contents
  = render 'hobby'