.best-category__wrap
  .best-category__title
    レディース新着アイテム
  .best-category__more
    = link_to "" do
      もっとみる
.best-category__contents
  = render partial: 'items', collection: @women, as: 'item'

.best-category__wrap
  .best-category__title
    メンズ新着アイテム
  .best-category__more
    = link_to "" do
      もっとみる
.best-category__contents
  = render partial: 'items', collection: @mens, as: 'item'

.best-category__wrap
  .best-category__title
    家電・スマホ・カメラ新着アイテム
  .best-category__more
    = link_to "" do
      もっとみる
.best-category__contents
  = render partial: 'items', collection: @electricitems, as: 'item'

.best-category__wrap
  .best-category__title
    おもちゃ・ホビー・グッズ新着アイテム
  .best-category__more
    = link_to "" do
      もっとみる
.best-category__contents
  = render partial: 'items', collection: @hobbies, as: 'item'