.best-category__wrap
  .best-category__title
    レディース新着アイテム
  .best-category__more
    = link_to "" do
      もっとみる
.best-category__contents
  = render 'women'

.best-category__wrap
  .best-category__title
    メンズ新着アイテム
  .best-category__more
    = link_to "" do
      もっとみる
.best-category__contents
  = render 'mens'

.best-category__wrap
  .best-category__title
    家電・スマホ・カメラ新着アイテム
  .best-category__more
    = link_to "" do
      もっとみる
.best-category__contents
  = render 'electric-items'

.best-category__wrap
  .best-category__title
    おもちゃ・ホビー・グッズ新着アイテム
  .best-category__more
    = link_to "" do
      もっとみる
.best-category__contents
  = render 'hobby'
  
  -# .goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
  -#   %div 
  -#     %div
  -#       =link_to "", "#"
  -#       %span
  -#         ¥300
  -#     %div
  -#       CCステッチココマーク オペラシューズ
  -# .goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
  -#   %div 
  -#     %div
  -#       =link_to "", "#"
  -#       %span
  -#         ¥300
  -#     %div
  -#       CCステッチココマーク オペラシューズ
  -# .goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
  -#   %div 
  -#     %div
  -#       =link_to "", "#"
  -#       %span
  -#         ¥300
  -#     %div
  -#       CCステッチココマーク オペラシューズ
  -# .goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
  -#   %div 
  -#     %div
  -#       =link_to "", "#"
  -#       %span
  -#         ¥300
  -#     %div
  -#       CCステッチココマーク オペラシューズ
  -# .goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
  -#   %div 
  -#     %div
  -#       =link_to "", "#"
  -#       %span
  -#         ¥300
  -#     %div
  -#       CCステッチココマーク オペラシューズ
  -# .goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
  -#   %div 
  -#     %div
  -#       =link_to "", "#"
  -#       %span
  -#         ¥300
  -#     %div
  -#       CCステッチココマーク オペラシューズ
  -# .goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
  -#   %div 
  -#     %div
  -#       =link_to "", "#"
  -#       %span
  -#         ¥300
  -#     %div
  -#       CCステッチココマーク オペラシューズ
  -# .goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
  -#   %div 
  -#     %div
  -#       =link_to "", "#"
  -#       %span
  -#         ¥300
  -#     %div
  -#       CCステッチココマーク オペラシューズ
  -# .goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
  -#   %div 
  -#     %div
  -#       =link_to "", "#"
  -#       %span
  -#         ¥300
  -#     %div
  -#       CCステッチココマーク オペラシューズ
