.transaction
  .transaction__header--done
    .title
      = icon('far', 'clock', class: "clock-icon")
      %h2 発送をお待ちください
    %p 出品者からの発送通知をお待ちください
  .transaction__header
    %h1 購入が完了しました
  .transaction__body
    %p.img
      = image_tag "#{@item.pictures[0]}",width:"80px", height:"80px"
    %p.item-name 
      = @item.description
    %span.price 
      ="#{@item.price}円  （税込）送料込み"
  .transaction__bottom
    %p.pay-price 支払い金額
    %p.value 
      = "¥#{@item.price}"
  .transaction__bottom--delivery
    %p 配送先
  .transaction__bottom--customer
    %p 
      ="〒#{@buyer.zipcode}"
    %p 
      ="#{@buyer.prefecture}#{@buyer.city}#{@buyer.address}#{@buyer.address_building}"
    %p
      ="#{current_user.last_name}#{current_user.first_name}"
  .transaction__bottom--button
    = link_to user_path do
      マイページへ戻る