.enter
  =link_to sell_items_path do
    出品
.swiper-container
  .swiper-wrapper
    .swiper-slide.banner__header
      %div 
      スマホで かんたん
      %BR
      フリマアプリ
      %BR
      = icon("fab", "apple",class:"fa-lg  fa-fw")
      = icon("fab", "google-play",class:"fa-fw") 
    .swiper-slide
      Slide 2
  .swiper-pagination.swiper-pagination-white
  .swiper-button-prev.swiper-button-white
  .swiper-button-next.swiper-button-white
.content
  .container
    .like-contents
      .like-contents--left
        いいね！した商品
      .like-contents__more
        = link_to "" do
          すべてみる
    .like-contents__box
      .goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
        %div 
          %div
            =link_to "", "#"
            %span
              ¥300
      .goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
        %div 
          %div
            =link_to "", "#"
            %span
              ¥300
      .goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
        %div 
          %div
            =link_to "", "#"
            %span
              ¥300
      .goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
        %div 
          %div
            =link_to "", "#"
            %span
              ¥300
      .goods.animate{"data-animate": "fadeIn","data-duration":"1.0s","data-delay":"0.1s","data-offset":"100"}
        %div 
          %div
            =link_to "", "#"
            %span
              ¥300
.best-category.container
  .best-category__header
    人気のカテゴリー
  =link_to "" do
    レディース
  =link_to "" do
    メンズ
  =link_to "" do
    家電・スマホ・カメラ
  =link_to "" do
    おもちゃ・ホビー・グッズ
.content
  = render 'popular-category'
  


.best-category.container
  .best-category__header
    人気のブランド
  =link_to "" do
    シャネル
  =link_to "" do
    ルイヴィトン
  =link_to "" do
    シュプリーム
  =link_to "" do
    ナイキ
.content
  .best-category__wrap
    .best-category__title
      シャネルの新着アイテム
    .best-category__more
      = link_to "" do
        もっとみる
  .best-category__contents
    = render partial: 'items', collection: @chanels, as: 'item'

  .best-category__wrap
    .best-category__title
      ルイヴィトンの新着アイテム
    .best-category__more
      = link_to "" do
        もっとみる
  .best-category__contents
    = render partial: 'items', collection: @louisvuittons, as: 'item'

  .best-category__wrap
    .best-category__title
      シュプリームの新着アイテム
    .best-category__more
      = link_to "" do
        もっとみる
  .best-category__contents
    = render partial: 'items', collection: @supremes, as: 'item'

  .best-category__wrap
    .best-category__title
      ナイキの新着アイテム
    .best-category__more
      = link_to "" do
        もっとみる
  .best-category__contents
    = render partial: 'items', collection: @nikes, as: 'item'