.item-box-container
  %h1.item-name 
    = @item.name
  .item-main-content-clearfix
    .item-photo
      #content
        #featured_img
          %img#img{:src => "https://www.imamura.biz/blog/wp-content/uploads/image01.png"}/
        .photo-holder
          #thumb_img.cf
            %img.active{:onmouseover => "changeimg('https://www.imamura.biz/blog/wp-content/uploads/image01.png',this);", :src => "https://www.imamura.biz/blog/wp-content/uploads/image01_thumb.png"}
            %img{:onmouseover => "changeimg('https://www.imamura.biz/blog/wp-content/uploads/image02.png',this);", :src => "https://www.imamura.biz/blog/wp-content/uploads/image02_thumb.png"}
            %img{:onmouseover => "changeimg('https://www.imamura.biz/blog/wp-content/uploads/image03.png',this);", :src => "https://www.imamura.biz/blog/wp-content/uploads/image03_thumb.png"}
            %img{:onmouseover => "changeimg('https://www.imamura.biz/blog/wp-content/uploads/image02.png',this);", :src => "https://www.imamura.biz/blog/wp-content/uploads/image02_thumb.png"}
            %img{:onmouseover => "changeimg('https://www.imamura.biz/blog/wp-content/uploads/image02.png',this);", :src => "https://www.imamura.biz/blog/wp-content/uploads/image02_thumb.png"}
            %img{:onmouseover => "changeimg('https://www.imamura.biz/blog/wp-content/uploads/image02.png',this);", :src => "https://www.imamura.biz/blog/wp-content/uploads/image02_thumb.png"}
            %img{:onmouseover => "changeimg('https://www.imamura.biz/blog/wp-content/uploads/image02.png',this);", :src => "https://www.imamura.biz/blog/wp-content/uploads/image02_thumb.png"}
            %img{:onmouseover => "changeimg('https://www.imamura.biz/blog/wp-content/uploads/image02.png',this);", :src => "https://www.imamura.biz/blog/wp-content/uploads/image02_thumb.png"}
            %img{:onmouseover => "changeimg('https://www.imamura.biz/blog/wp-content/uploads/image02.png',this);", :src => "https://www.imamura.biz/blog/wp-content/uploads/image02_thumb.png"}
            %img{:onmouseover => "changeimg('https://www.imamura.biz/blog/wp-content/uploads/image02.png',this);", :src => "https://www.imamura.biz/blog/wp-content/uploads/image02_thumb.png"}
    .item-detail-table
      .tr
        .th
          出品者
        .td
          = link_to "#{@user.nickname}"
          .user-rating
            .item-user-ratings
              .icon-good
                %i.fas.fa-smile-beam
                %span
                0
            .item-user-ratings
              .icon-nomal
                %i.fas.fa-meh
                %span
                0
            .item-user-ratings
              .icon-bad
                %i.fas.fa-frown
                %span
                0
      .tr
        .th
          カテゴリー
        .td
          =link_to 'レディース'
          %br
          =link_to '靴'
          %br
          =link_to 'スニーカー'
      .tr
        .th
          ブランド
        .td
          =link_to 'シャネル'
      .tr
        .th
          商品のサイズ
        .td
          = @item.size
      .tr
        .th
          商品の状態
        .td
          = @item.condition
      .tr
        .th
          配送料の負担
        .td
          送料込み(出品者負担)
      .tr
        .th
          配送の方法
        .td
          ゆうゆうメルカリ便
      .tr
        .th
          配送元地域
        .td
          -# = @item.prefecture
      .tr
        .th
          発送日の目安
        .td
          1~2で発送
  .item-price-box
    %span.item-price
      ¥ 
      = @item.price
    %span.item-tax
      (税込)
    %span.item-shipping-fee
      送料込み
  .item-buy-btn
    =link_to '購入画面に進む'

  .item-description
    %p.item-description-inner
      = @item.description
  .item-btn-container-clearfix
    .item-btn-left
      .like
        %span
          ♡  いいね！
      .report
        %span
          不適切な商品の報告
    .item-btn-light
      =link_to "鍵  あんしん・あんぜんへの取り組み"
.item-detail-message
  .message-container
    .message-item
      .message-icon
        =link_to "●"
      .message-user-name
         #{@user.nickname}
      .message-body
        %p.message-body-text
          はじめまして、購入検討中なのですが、
          お時間のある時に返信いただけたらありがたく思います。
    .message-content
      %form.message-form{:action => "https://www.mercari.com/jp/comment/add/", :method => "POST"}
      %input{:name => "__csrf_value", :type => "hidden", :value => "df77c4d2310d61bbaca481c0d5bc740b9cb085cd8eac6c5fb6ab72b26984afb2dba9df8257c6870d8c2bb6acdeded52cffa2f55627fbc169bbbb14a6c1314def3"}/
      %span 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %input{:name => "item_id", :type => "hidden", :value => "m15171925306"}/
      %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
      %textarea.textarea-default{:name => "body", :type => "text", :value => ""}
      %button.message-submit.btn-default.btn-gray{:type => "submit"}
        %p コメントする
.next-item
  %span.left
    =link_to "< CCステッチココマーク オペラシューズ"
  %span.right
    =link_to "CCステッチココマーク オペラシューズ >"
.item-detail-message
  .sns-link
    .icon-box
      .facebook
        %i.fab.fa-facebook-square
    .icon-box
      .twitter
        %i.fab.fa-twitter-square
    .icon-box
      .line
        %i.fab.fa-line
    .icon-box
      .pinterest
        %i.fab.fa-pinterest-square
.users-item-index
  %span
    =link_to "#{@user.nickname}のその他の出品"
  .item-box-index
    .item-box
      .item-box-photo
      .item-box-body
        .item-box-name
          CCステッチココマーク オペラシューズ
        .item-box-num
          .item-box-price
            ¥5,000
          .item-box-like
            ♡ 3
    .item-box
      .item-box-photo
      .item-box-body
    .item-box-right
      .item-box-photo
      .item-box-body
    .item-box
      .item-box-photo
      .item-box-body
    .item-box
      .item-box-photo
      .item-box-body
    .item-box-right
      .item-box-photo
      .item-box-body
.users-item-index
  %span
    =link_to "brand その他の出品"
  .item-box-index
    .item-box
      .item-box-photo
      .item-box-body
        .item-box-name
          CCステッチココマーク オペラシューズ
        .item-box-num
          .item-box-price
            ¥5,000
          .item-box-like
            ♡ 3
    .item-box
      .item-box-photo
      .item-box-body
    .item-box-right
      .item-box-photo
      .item-box-body
    .item-box
      .item-box-photo
      .item-box-body
    .item-box
      .item-box-photo
      .item-box-body
    .item-box-right
      .item-box-photo
      .item-box-body