.transaction
  .transaction__header
    %h1 購入内容の確認
  .transaction__body
    %p.img
      = image_tag 'product.jpg',width:"80px", height:"80px"
    %p.item-name サンドベージュの靴。サンドベージュの靴です。
    %span.price 5980円  （税込）送料込み
  .transaction__bottom
    %p.pay-price 支払い金額
    %p.value ¥5980
    %span.mark ⬜️ 
    %p.mark ポイントを使用(所持ポイント:P0)
  .transaction__bottom--way
    %p 支払い方法
  .transaction__bottom--icon
    -# クレジットカードが登録されている場合は一覧表示
    -# クレジットカードが登録されていない場合は新規作成ボタンを表示
    - if @credit.present?
      .transaction__bottom--link2
        = link_to creditcards_path do
          変更する
      .creditcards-show
        %ul.creditcards-show__list
          %li 
            = form_with url: creditcard_path(@credit.id), method: :delete, local: true, id: "charge-form" do |f|
              -# カードブランドの表示
              %figure
                =image_tag "#{@card_src}", width: '34', height: '20', alt: @card_brand, id: "card_image"
              .creditcards-show__list--number
                = "**** **** **** " + @card_information.last4
              .creditcards-show__list--number
                - exp_month = @card_information.exp_month.to_s
                - exp_year = @card_information.exp_year.to_s.slice(2,3) # 2023 → 23 となるように表示
                = exp_month + " / " + exp_year
    - else
      .create-newcard
        %p.icon
          =icon("fa", "plus-circle")
        %p.link 
      .create-newcard__button
        = icon('far', 'credit-card', class: "create-newcard__button--icon")
        = link_to "クレジットカードを追加する", new_creditcard_path , class: "create-newcard__button--text", method: :get
  .transaction__bottom--delivery
    %p 配送先
  .transaction__bottom--link
    = link_to  "" do
      変更する
  .transaction__bottom--customer
    %p 〒999-9999
    %p 大阪府大阪市中央区１−１−１
    %p サンプル太郎
  .transaction__bottom--buy
    = form_tag(action: :purchase, method: :post) do
      
      %button 購入する
