%footer.sub
  %p
    = link_to "プライバシーポリシー",""
    = link_to "メルカリ利用規約",""
    = link_to "特定商取引に関する表記",""
  %p
    = link_to root_path do
      = image_tag 'logo_gray.svg', alt: '', size:'100x100', class: ''
  %p
    © Fmarket