<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample61c</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="contents">
      <%= render 'layouts/header'%>
      <%= yield %>
      <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
